<p>Witaj,</p>

<p>Piszę do Ciebie, ponieważ w ciągu ostatnich lat rejestrowałeś/aś się na Zlot Arda lub uczestniczyłeś/aś w życiu forum Zlotu. W związku z tym, że rezygnuję z dalszej koordynacji Zlotu, zdecydowałem się na przeprowadzenie głosowania nad wyborem nowych koordynatorów. Poniżej znajdziesz link do strony, gdzie możesz oddać swój głos.</p>

<p>Przez ostatnich 6 lat podejmowałem się koordynacji Zlotu Arda. Było to dla mnie duże wyzwanie, ale i przyjemność. Było mi dane każdego roku dostarczać Ardowiczom okazji do spotkania się i przeżycia wspólnej przygody w naszym ukochanym Śródziemiu.</p>

<p>Początki były trudne. Zlot otrzymałem w czasie jego największego kryzysu. Wierząc, że można go nadal rozwijać, podjąłem się zadania organizacji. I choć w pierwszych latach nie było nas wiele, to ostatnie dwa lata pokazały, że Zlot znów może gromadzić dziesiątki uczestników. W tym i poprzednim roku było nas ponad 60 osób. To niemal tyle samo, co w pamiętnym 2007 roku.</p>

<p>Wszystko jednak, co ma swój początek, ma też swój koniec. Dzisiaj przekazuję koordynację Zlotu kolejnemu zespołowi. Przez lata nauczyłem się, że organizacja Zlotu to nie patrzenie na to, czego chcieliby wszyscy, ale szukania rozwiązań, w których wszyscy będą czuli się dobrze. Tworzenie Zlotu Arda to podejmowanie trudnych decyzji.</p> 

<p>Dzisiaj jednak to nie do mnie należy decyzja. To Wy wspólnie zdecydujecie o dalszym kursie Zlotu Arda. To Wasz wybór nowych koordynatorów, zadecyduje o tym, jak konwent będzie się dalej rozwijał. W jakim kierunku i w jakim tempie.</p>

<p>Każde z Was poniżej ma unikatowy link do strony głosowania. Raz oddany głos nie może zostać zmieniony. Proszę, abyście wybrali zgodnie z Waszymi odczuciami i tym, która ekipa najbliższa jest Waszej wizji Zlotu Arda</p>

<p><strong><a href="http://arda.org.pl/voting/{{ voter.hashset }}/">Przejdź do strony głosowania.</a></strong></p>

<p>Pozdrowienia i do zobaczenia na innych wydarzeniach,<br/><br/>
<strong>Janusz "Ivellios" Kamieński</strong><br/>
Organizator Zlotów Arda 2009-2014</p>
