<p><strong>Witaj,</strong></p>

<p>Pomyślnie zapisałeś się na {{ zlot }}. Oczekuj kolejnych wiadomości i regularnie zaglądaj na naszą <a href="http://www.arda.org.pl">stronę internetową</a>. Poniżej znajdziesz dane potwierdzające zapis oraz informacje o opłacie akredytacyjnej.</p>

<p>Twoje dane z rejestracji:</p>
<ul>
	<li><strong>Nick</strong>: {{ uczestnictwo.uczestnik.username }}</li>
	<li><strong>E-mail</strong>: {{ uczestnictwo.uczestnik.email }}</li>
</ul>

<p>Przypominamy, że koszt pełnej akredytacji wynosi 50 zł. Jednodniowe akredytacje kosztują 10 zł/dzień w przedpłacie oraz na miejscu.<br/>
</p>

<p><strong>Dane do przelewu:</strong><br/>
<strong>Tytuł przelewu:</strong> Zlot Arda 2015 - {{ uczestnictwo.uczestnik.username }}<br/>
<strong>Nr konta:</strong> <br/>
<strong>Odbiorca:</strong> <br/>
</p>

<p><strong>UWAGA!</strong> Wpłaty dokonane przed Zlotem nie podlegają zwrotowi w przypadku nie pojawienia się uczestnika na konwencie!</p>

{% comment %}
<h1>Garść ostatnich informacji przed wyjazdem</h1>

<h2>Kontakt z nami</h2>
<p>Pierwsza i najważniejsza rzecz, to sposób, w jaki z nami możecie się skontaktować, gdyby coś się stało po drodze i nie wiedzielibyście np. jak dotrzeć na teren Zlotu. Możecie dzwonić lub SMS-ować (tutaj dobrze dać podpis). Poniżej macie telefony do osób, które na pewno będą mogły wam pomóc:</p>

<h2>Dojazd</h2>
<p>Na stronie dodaliśmy informację o tym, jak dotrzeć na Zlot Arda publicznymi środkami transportu. Możecie też skorzystać z mapki, żeby zobaczyć, gdzie dokładnie położony jest konwent. Dotarcie na miejsce imprezy nie powinno być trudne. Jeżeli to będzie możliwe, postaramy się też oznaczyć okolicę samego Zlotu.</p><p>
</p>
<h2>Rekwizyty do gry</h2>
<p>O tych sprawach wiele mówić nie trzeba. Ważne, żebyście pamiętali o zabraniu ze sobą chust lub bandaży, które będą oznacznikami rany <a href="http://www.arda.org.pl/site_media/files/ZasadyGry.pdf">zgodnie z zasadami gry</a>. Ważnym jest, żeby każdy z was miał ze sobą takie coś.</p><p>

Możliwe, że jeszcze przed Zlotem na stronie opublikujemy zasady gry odrębne dla poszczególnych LARP-ów. Zostaną one wam na pewno przedstawione i wyjaśnione na początku konwentu.</p>

<h2>Dyskusje i przygotowania</h2>
<p>Nadal na stronie, po zalogowaniu macie dostęp do <a href="http://www.arda.org.pl/konto/frakcje/lista">dyskusji w waszych frakcjach</a>. W części z nich są one już bardzo zaawansowane. Jeżeli jeszcze tam nie zaglądaliście, koniecznie to zróbcie, żeby lepiej dogadać się z innymi osobami, z którymi będziecie grać.</p>

<h2>Przedpłaty</h2>
<p>Przedpłaty na Zlot Arda 2013 przyjmujemy tylko do 10 sierpnia. To znaczy, że jeżeli zrobicie jeszcze przedpłatę w weekend to ją oczywiście uznamy. Nie będziemy już przyjmować przedpłat wysłanych 12 w poniedziałek aż do samego Zlotu (możliwe, że nie będziemy mieli także możliwości ich sprawdzenia na miejscu). Dlatego jak najszybciej dokonajcie przedpłaty lub pamiętajcie, że akredytacja na miejscu to 40 zł za cały Zlot i 15 zł za dzień (liczymy doby od wieczora do wieczora więc weekend to 30 zł).</p><p>

Jeżeli planujecie płacić na miejscu, to zadbajcie wcześniej o to, żeby mieć wyliczone pieniądze. Bardzo pomoże to nam w rejestracji.</p>

<h2>Wciąż szukamy graczy</h2>
<p>Frakcja <a href="http://www.arda.org.pl/frakcja/serce-mroku/easterlingowie">Easterlingów</a> liczy sobie na razie tylko jedną osobę, a bardzo zależy nam na tym, żeby się pojawiła w grze. Dlatego zapytajcie znajomych, czy nie chcą wybrać się na Zlot Arda i nakłaniajcie do dołączenia do tej frakcji. Zabierzcie ze sobą przyjaciół, rodzinę, obcych ;) Na Ardzie nikt się nudził nie będzie. A wasze polecenie może bardzo pomóc!</p>

<h2>Karty rejestracji</h2></p>
Pamiętajcie, żeby przed wyjazdem zabrać ze sobą wydrukowane i wypełnione <a href="http://www.arda.org.pl/site_media/files/rejestracja2013.pdf">formularze rejestracji na Zlot</a>. Osoby niepełnoletnie muszą dodatkowo mieć <a href="http://www.arda.org.pl/site_media/files/zgoda2013.pdf">zgody rodziców</a>. Bez nich nie możemy wpuścić nieletnich na teren konwentu.</p>
{% endcomment %}


<p>Do zobaczenia,</p>

<p>Organizatorzy Zlotu Arda</p>
